@{
    ViewData["Title"] = "Acerca de la aplicacion";
    ViewData["Message"] = "Sistema de Procesamiento de Operaciones Escolares(SPOE)";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    SPOE v1.0alpha.0 (Sistema de Procesamiento de Operaciones Escolares), es un sistema de información diseñado para la automatización del manejo de los datos de una escuela.
    La funcionalidad de este sistema es la inscripción de los estudiantes, de los usuarios administrativos que se encargan de esta clase de registro.
</p>
